*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


body{
    font-family: Helvetica, Arial, sans-serif;
    color:#39a6b2
}
h1{
    font-size:100px;
}

header{
    /*
    padding applies to every side
    padding:10px;
    padding applies 20 to top and bottom and 35 to left and right
    padding: 20px 35px
    padding applies top, right, bottom, left
    padding: 10px 15px 20px 25px
    */
    padding:20px;
    background-color: #39a6b2;
}

header h1{
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin:0;
    display:inline;
}

header a{
    text-decoration: none;
    color: #fce138;
}

header nav{
    float:right;
    margin: 7px 0;
}

header nav ul li{
    display: inline;
}

header nav ul li a{
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}

footer{
    background-color: #fce138;
    width: 100%;
    padding:40px 35px
}

footer h2{
    display: inline;
    color: #024e76;
    font-size: 30px;
    margin: 0;
}

footer div{
    float:right;
    text-align: right;
    line-height: 1.5;
}
footer a{
    color: #024e76;
}